.volunteerbg{
    background-image: url(../../../public/img/imagevolunteer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-left: 150px;
    padding-top: 90px;
    color: white;
}
.buttonbg{
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
}
.participants{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: rgb(252, 228, 198);
}
.reviews{
    display: flex;
    justify-content: space-around;
}
.peterimage{
    height: 100px;
    width: 100px;
}
.partcolumn{
    width: 50%;
    background-color: black;
    padding: 30px;
    margin-bottom: 50px;
}
.headspace{
    padding-left: 10px;
    padding-bottom: 20px;
}
.reviewcolor{
    color: white;
    opacity: 50%;
}
.ridernamecolor{
    color: white;
}
.nums{
    color: white;
}
.headspace{
    color: orange;
}
@media(max-width:610px){
    .volunteerbg{
width: 100%;
padding-left: 50px;
    }
}

@media(max-width:1134px){
    .reviews{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:440px){
    .participants{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:440px){
    .partcolumn{
        width: 100%;
    }
}   
.bloghead{
    width: 98%;
}
.volstart{
    padding: 30px;
}