.star{
    color: red;
 }
  .parentdiv {
    display: flex;
    background-color:rgb(15, 14, 14);
    color: white;
    justify-content: space-evenly;
    gap: 20%;
    /* padding: 50px; */
    font-size: 18px;
    text-shadow: 4px 4px 6px black; 
  }
  
  .inputwidth{
    width: 80%;
  }
  .zipwidth{
    width: 60px;
  }
.gendercol{
    width: 20%;
}
.bgimage{
    background-image: url(../../../public/img/reg-img.jpg);
}
.clicked{
    text-align: center;
}
.sizebox{
    width: 50px;
}
.fullwidth{
    width: 70%;
}
.regforms{
  padding: 50px;
  padding-top: 0px;
}
.columnreg{
  width: 500px;
}
.dobwidth{
  width: 130px;
}
@media(max-width:300px){
  .dobwidth{
    font-size: small;
    width: 90px;
  }
}