.toppage{
    margin: 0%;
}
.topdate1{
    font-size: 30px;
    font-weight: bolder;
    padding-top: 10px;
}
.topdate2,.topdate3{
    padding-top: 10px;
}

.top{
    display: flex;
    align-items: center;
}
.topicon{
    display: flex;
    justify-content: center;
    gap: 5px;
}