.visithead{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-right: 30px;
}
.visitgallerybutton{
    background-color: orange;
    border: none;
    padding: 10px;
}
.firstimg{
    height: 200px;
    width: 360px;
}
.secondimg{
    height: 200px;
    width: 360px;
}
.thirdimg{
    height: 200px;
    width: 360px;
}
.fourthimg{
    height: 250px;
    width: 550px;
}
.fifthimg{
    height: 250px;
    width: 550px;
}
.galleryimg{
gap: 20px;
display: flex;
flex-wrap: wrap;
padding-left: 50px;
padding-bottom: 30px;
}
