 .visitgallery{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 20px;
}

.visitgallerybut{
    background-color:orange;
    color: white; 
    border: none;
    margin: 10px;
    padding: 10px;
} 
 
.firstrow{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 210px;
}

.secondrow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 210px; */
    margin-bottom: 30px;
}
@media(max-width:1200px){
    .firstrow,.secondrow{
        column-gap: 10px;
    }
}




