.enternow{
    background-image: url(/public/img/enetrnow-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(238, 135, 9);
    height: 300px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.joinrow{
    padding-top: 100px;
    padding-left: 100px;
}