/* .enternow{
    background-image: url(/public/img/enetrnow-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(238, 135, 9);
    height: 500px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.joinrow{
    padding-top: 100px;
    padding-left: 100px;
} */

.join{
    display: flex;
    justify-content:space-around;
    margin: 30px;
    background-image: url(../../../public/img/enetrnow-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    padding-top: 50px;
}
.joinenter{
    background-color: orange;
    border: none;
    padding: 10px;
    color: white;
}
.joining{
    color: white;
}