/* .img{
    width: 300px;
}
.usernamewidth{
width: 300px;
}
.passwordwidth{
    width: 300px;
}
.btn{
    width: 27%;
}
.fb{
    height: 15px;
    width: 15px;
}
.google{
    height: 15px;
    width: 15px;
}
.backg{
    background-image: url(../../../public/img/gallery-3.jpg);
} */







.loginbgimage{
background-image: url(../../../public/img/gallery-3.jpg);
background-repeat: no-repeat;
background-size: cover ;
color: black;
}
.fb{
    height: 15px;
    width: 15px;
}
.google{
    height: 15px;
    width: 15px;
}
.form-label{
    text-shadow: 2px 2px blue;
    font-size: larger;
    font-weight: 900;
    color: white;

}