.start{
    background-color: red;
}
.cont{
    display: flex;
}

@media only screen and (max-width: 600px) {
    .start{
        background-color: rgb(60, 0, 255);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 40px;
    }
  }
  @media (max-width:700px){
    .cont{
        display: flex;
        flex-wrap: wrap;
    }
  }
  