.addevent{
    background-image: url(../../../public/img/eventBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;

}
.formstart{
    display: flex;
    padding-left: 25%;
    padding-right: 20px;
}
.eventwidth{
    width: 180%;
    border: none;
    height: 40px;
    opacity: 75%;
    border-radius: 5px;
}
.htwoevent{
    text-align: center;
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.starred{
    color: red;
}
.labelcolor{
    font-style: oblique;
    font-weight: 900;
    color: white;
}
@media(max-width:992px){
    .eventwidth{
        width: 150%;
    }
}

@media(max-width:510px){
    .eventwidth{
        width: 100%;
    }
}
.buttonevent{
    text-align: center;

}
.eventsubmit{
    border: none;
    margin-bottom: 10px;
    background-color: orange;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 5px;


}