
  .contactcontainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; 
  }

  .left {
    width: 200px;
  }

  .right {
    width: 200px;
  }

  .text-field {
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
  }

  @media only screen and (max-width: 570px) {
    .left, .right {
      flex: none;
      width: 100%;
    }

  }
  .text-field3{
    height: 93%;
    margin-left: 15px;
  }

  @media(max-width:570px){
    .text-field3{
    margin-left: 0px;
    width: 100%;
    height: 50px;
    }

  }
  .words{
    margin-left: 5px;
  }

  .contactbut{
    margin-top: 20px;
  }

  .submitbut{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    padding: 5px;

  }

   .contact{
    background-image: url(../../../public/img/gallery-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin-top: 10px;
    width: 90%;

  }

  ::placeholder {
    text-align: center; 
 }

  


 